.modal {
  /* clamp will set the width to 700px, if screen is too small, it will go to 90% of the width. If screen is too big, it will go to a max of 50% of the screen. */
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}